1. Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

In [1]:
def T(n):
    if n == 0:
        return 5
    else:
        return 3 * T(n-1) + 12 * n

# Find the value of T(2)
result_T2 = T(2)

print("T(2) =", result_T2)

T(2) = 105

2. Given a recurrence relation, solve it using the substitution method:
a. T(n) = T(n-1) + c
b. T(n) = 2T(n/2) + n
c. T(n) = 2T(n/2) + c
d. T(n) = T(n/2) + c

In [2]:
def T(n, c):
    if n == 0:
        return 0  # base case
    else:
        return T(n-1, c) + c

print(T(10, 5))  # example usage

50

 a.T(n) = T(n-1) + c

b. T(n) = 2T(n/2) + n

In [3]:
def T(n):
    if n == 1:
        return 1  # base case
    else:
        return 2*T(n/2) + n

print(T(16))  # example usage

80.0

c. T(n) = 2T(n/2) + c

In [4]:
def T(n, c):
    if n == 1:
        return c  # base case
    else:
        return 2*T(n/2, c) + c

print(T(16, 5))  # example usage

155

d. T(n) = T(n/2) + c

In [5]:
def T(n, c):
    if n == 1:
        return c  # base case
    else:
        return T(n/2, c) + c

print(T(16, 5))  # example usage

25

3. Given a recurrence relation, solve it using the recursive tree approach:
a. T(n) = 2T(n-1) +1
b. T(n) = 2T(n/2) + n

a. T(n) = 2T(n-1) + 1

In [6]:
def T(n):
    if n == 0:
        return 0  # base case
    else:
        return 2*T(n-1) + 1

print(T(10))  # example usage

1023

b. T(n) = 2T(n/2) + n

In [7]:
def T(n):
    if n == 1:
        return 1  # base case
    else:
        return 2*T(n/2) + n

print(T(16))  # example usage

80.0